.header {
  background-color: rgb(216, 53, 53);
  padding: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.headerTitle {
  color: white;
}

.logo {
  height: 100px;
  width: auto;
  background: none;
}
