.seller-page-body {
  margin: 0;
  padding: 0;
  background-image: url("../../img/car-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
  height: 100%;
}

.seller-page-container {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.seller-card {
  width: 750px;
  height: 100%;
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 25px;
  padding: 20px;
  border: 2px solid rgb(216, 53, 53);
  border-radius: 8px;
  color: white;
}

.seller-info {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.seller-image img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}

.seller-details {
  flex-grow: 1;
}

.HomePagebtn {
  width: 50px;
  height: 30px;
  background-color: rgb(216, 53, 53);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  text-decoration: none;
}
